client/pages/__authentication.html
<div class="authentication"><div class="login"><img class="logo" src="assets/img/electrn.svg"/><h2>Authentifizierung</h2><div class="inputs"><div class="input name"><span class="tooltip">Mindestens&nbsp;<b>3&nbsp;</b>Zeichen</span><input class="name-input" type="text" spellcheck="false"/></div><div class="input password"><span class="tooltip">Mindestens&nbsp;<b>8&nbsp;</b>Zeichen</span><input class="password-input" type="password"/></div><div class="input-switch"><label class="switch"><input class="stay-signed-in" type="checkbox" checked="checked"/><div class="slider"></div></label><span class="text">Angemeldet bleiben</span></div></div><a class="create button disabled" href="#">Anmelden</a></div><div class="notes"><a class="help" href="#">Hilfe</a><a class="privacy" href="privacy/">Datenschutz</a></div></div>

beta/pages/__authentication.pug

.authentication
    .login
        img(src="assets/img/electrn.svg").logo
        h2 Authentifizierung
        .inputs
            .input.name
                span.tooltip Mindestens&nbsp;
                    b 3&nbsp;
                    | Zeichen
                input(type="text" spellcheck="false").name-input
            .input.password
                span.tooltip Mindestens&nbsp;
                    b 8&nbsp;
                    | Zeichen
                input(type="password").password-input
            .input-switch
                label.switch
                    input(type="checkbox" checked).stay-signed-in
                    .slider
                span.text Angemeldet bleiben
        a(href="#").create.button.disabled Anmelden

    .notes
        a(href="#").help Hilfe
        a(href="privacy/").privacy Datenschutz
