client/pages/__new-chat.html
<div class="new-chat"><h1>Start a new conversation</h1><div class="search input-default"><i class="fas fa-user"></i><input class="search-input" type="text" placeholder="Please enter the aids ID"/></div><div class="users"></div><div class="open"><div class="button disabled">Start via user ID</div></div></div>

beta/pages/__new-chat.pug
.new-chat
    h1 Start a new conversation

    .search.input-default
        i.fas.fa-user
        input(type="text" placeholder="Please enter the aids ID").search-input

    .users
    .open
        .button.disabled Start via user ID
