beta/pages/_app.html
<div class="app"><div class="sidebar"><div class="profile"><img class="profile-picture"/><div class="meta"><div class="name"><span class="name-string"></span><div class="name-options"><i class="fas fa-chevron-down"></i><div class="tooltip"><div class="status"><span>STATUS</span><div class="bulb red"></div><div class="bulb orange"></div><div class="bulb green"></div></div><span class="button-smallest red logout"><i class="fas fa-sign-out-alt"></i>Logout</span></div></div></div><div class="id"></div></div><div class="settings"><i class="fas fa-cog"></i></div></div><div class="conversations"><div class="search input-default"><i class="fas fa-search"></i><input class="search-input" type="text" placeholder="Type name to find contact"/></div><div class="chats"></div><div class="new-chat"><i class="fas fa-plus"></i></div></div><div class="resizer"></div></div><div class="preview-chat" chatId="" token=""><div class="header-chat hidden"><i class="fas fa-arrow-left return-button"></i><img class="chat-profile-picture"/><span class="name offline"></span><div class="select-options"><i class="fas fa-share"></i><i class="fas fa-feather-alt"></i><i class="fas fa-trash"></i><i class="fas fa-info-circle"></i></div></div><div class="messages-chat"></div><div class="new-message hidden"><i class="fas fa-paperclip"></i><input class="send-file hidden" type="file"/><input class="new-message-text" type="text" placeholder="Schreibe hier deine Nachricht..." spellcheck="false"/><i class="fas send-button record"></i></div></div></div>

beta/pages/_app.pug
.app
    .sidebar
        .profile
            img.profile-picture
            .meta
                .name
                    span.name-string
                    .name-options
                        i.fas.fa-chevron-down
                        .tooltip
                            .status
                                span STATUS
                                .bulb.red
                                .bulb.orange
                                .bulb.green
                            span.button-smallest.red.logout
                                i.fas.fa-sign-out-alt
                                | Logout
                .id
            .settings
                i.fas.fa-cog
        .conversations
            .search.input-default
                i.fas.fa-search
                input(type="text" placeholder="Type name to find contact").search-input
            .chats
            .new-chat
                i.fas.fa-plus
        .resizer
    .preview-chat(chatId="" token="")
        .header-chat.hidden
            i.fas.fa-arrow-left.return-button
            img.chat-profile-picture
            span.name.offline
            .select-options
                i.fas.fa-share
                i.fas.fa-feather-alt
                i.fas.fa-trash
                i.fas.fa-info-circle
        .messages-chat
        .new-message.hidden
            i.fas.fa-paperclip
            input(type="file").send-file.hidden
            input(type="text" placeholder="Schreibe hier deine Nachricht..." spellcheck="false").new-message-text
            i.fas.send-button.record
