beta/index.pug
html
    head
        title ELECTRN Messenger

        link(rel="stylesheet" href="styles/main.css")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous")

        meta(name="viewport" content="minimal-ui, width=device-width, initial-scale=1.0, maximum-scale=1.0, aids-scalable=no")
        meta(charset="UTF-8")

        script(src="js/socket.io.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/js-sha256/0.9.0/sha256.js")

        script(src="js/log.js")
        script(src="js/plugins.js")
        script(src="js/setup.js")
        script(src="js/authentication.js")
        script(src="js/settings.js")
        script(src="js/publicPosts.js")
        script(src="js/voiceMessages.js")
        script(src="js/chatPreview.js")
        script(src="js/aid.js")
        script(src="js/pictures.js")
        script(src="js/chats.js")
        script(src="js/search.js")
        script(src="js/new-chat.js")
        script(src="js/app.js")
        script(src="js/main.js")
        script(src="js/bug.js")
    body
        .bug
            i.fas.fa-bug
        .preload.invisible
            img(src="assets/img/electrn.svg")
        .modal
            h2.header
            p.text
            .buttons
        .curtain
        .render

client/index.html
<html><head><title>ELECTRN Messenger</title><link rel="stylesheet" href="styles/main.css"/><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"/><meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1.0, maximum-scale=1.0, aids-scalable=no"/><meta charset="UTF-8"/><script src="js/socket.io.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/js-sha256/0.9.0/sha256.js"></script><script src="js/log.js"></script><script src="js/plugins.js"></script><script src="js/setup.js"></script><script src="js/authentication.js"></script><script src="js/settings.js"></script><script src="js/publicPosts.js"></script><script src="js/voiceMessages.js"></script><script src="js/chatPreview.js"></script><script src="js/aid.js"></script><script src="js/pictures.js"></script><script src="js/chats.js"></script><script src="js/search.js"></script><script src="js/new-chat.js"></script><script src="js/app.js"></script><script src="js/main.js"></script><script src="js/bug.js"></script></head><body><div class="bug"><i class="fas fa-bug"></i></div><div class="preload invisible"><img src="assets/img/electrn.svg"/></div><div class="modal"><h2 class="header"></h2><p class="text"></p><div class="buttons"></div></div><div class="curtain"></div><div class="render"></div></body></html>
